<h1>Editing product feature</h1>

<%= render "form", product_feature: @product_feature %>

<br>

<div>
  <%= link_to "Show this product feature", @product_feature %> |
  <%= link_to "Back to product features", product_features_path %>
</div>
