/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#banner{
    clear: both;
    text-align:center;
}

#left-panel {
    float: left;
    width: 15%;
    padding: 0 20px 0 20px;
    border-right: 1px solid;
    text-align: justify;
    word-break: break-all;
}

#main-panel {
    float: left;
    width: 75%;
    padding: 0 20px 0 20px;
    border-left: 1px solid;
    text-align: justify;
    word-break: break-all;
}

#footer {
    clear: both;
    text-align:center;
}

pre {
    padding: 20px;
    background: #DDDDDD;
}