<p style="color: green"><%= notice %></p>

<h1>Collects</h1>

<div id="collects">
  <% @collects.each do |collect| %>
    <%= render collect %>
    <p>
      <%= link_to "Show this collect", collect %>
    </p>
  <% end %>
</div>

<%= link_to "New collect", new_collect_path %>
